In [3]:
name = 'xyz'
years = 50
print(name, 'has', years, 'age for retiring')

xyz has 50 age for retiring

Operators

In [7]:
# Addition
a = 5
b = 4
c = a+b
print(c)

9

In [8]:
# substraction
d = a-b
d

1

In [9]:
# Multiplication
e = a*b
e

20

In [10]:
# Division
f = a/b
f

1.25

In [13]:
print(a/b) # Quotient
print(a%b) # remainder
print(a//b) # Quotient, Floor division - it will give you only integer value

1.25
1
1

In [14]:
q = a//b
print(type(q))

<class 'int'>

In [15]:
type(f)

float

In [17]:
# Exponentiation of two numbers
a = 5
b = 2
c = a**b # 5 to the power of 2
print(c)

25

In [34]:
# Assignment operators
a = 5
b = 2
a = a+b
a

7

In [37]:
a = 5
b = 2
a += b
a

7

In [38]:
a = 5
b = 2
a /= b
a

2.5

In [40]:
a = 5
b = 2
a *= b # a = a*2
a

10

In [41]:
a = 5
b = 2
a //= b
a

2

In [42]:
a = 5
b = 2
a %= b
a

1

In [43]:
a = 5
b = 2
a **= b
a

25

In [55]:
# bitwise AND and assign
a = 3
b = 5 
a &= b
a

1

In [56]:
# Bitwise OR and assign
a = 3 
b = 5
a |= b
a

7

In [57]:
# Bitwise XOR and assign
a = 3
b = 5
a ^= b
a

6

In [3]:
# HW
name = input("staff name:")
age = int(input('Age:'))
print(name, 'has', 50-age, 'years for retiring')

staff name:Ruhi
Age:39
Ruhi has 11 years for retiring

In [4]:
name = input("customer name:")
phone_number = int(input("contact number:"))
location = input("location:")
print("Thank you for visiting", name)

customer name:abdul
contact number:7975701493
location:Bangalore
Thank you for visiting abdul

In [5]:
a = int(input("first number:"))
b = int(input("second number:"))
print("values before swapping:\n a:",a, "b:", b)
c = a
a = b
b = c
print("values after swappig:\n a:", b, "b:",b)

first number:10
second number:20
values before swapping:
 a: 10 b: 20
values after swappig:
 a: 10 b: 10

In [8]:
name = input("user name :")
age = int(input("Age :"))
address = input("user address :")
print("user name is: ", name,'\n' "user age is:", age,'\n' "user address is:", address)

user name :sabina
Age :30
user address :Bangalore
user name is:  sabina
user age is: 30
user address is: Bangalore