# Sets

In [1]:
s = {1,2,3,4}
s

{1, 2, 3, 4}

In [3]:
print(type(s))

<class 'set'>

In [4]:
id(s)

1655190300352

In [5]:
sets = {1, 2,3, 4, True}
sets

{1, 2, 3, 4}

In [6]:
Sets = {True, 2,1,3, 4}
Sets

{True, 2, 3, 4}

In [8]:
for i in Sets:
    print(i)

True
2
3
4

In [25]:
s1 = {'Ram', 'shyam', 'meera', 'sita'}
print('meera' in s1)

True

In [23]:
s2 = {1,2,3,4,'sabi','apple',12.5}
s2

{1, 12.5, 2, 3, 4, 'apple', 'sabi'}

In [24]:
s1.update(s2)
s1

{1, 12.5, 2, 3, 4, 'Ram', 'apple', 'meera', 'sabi', 'shyam', 'sita'}

In [26]:
s2

{1, 12.5, 2, 3, 4, 'apple', 'sabi'}

In [28]:
s3 = ['Ram', 'shyam', 'meera', 'sita']
s1.update(s3)
s1

{'Ram', 'meera', 'shyam', 'sita'}

In [37]:
s1.add('sabi')
s1

{'Ram', 'meera', 'sabi', 'shyam', 'sita'}

In [38]:
s1.remove('sabi')
s1

{'Ram', 'meera', 'shyam', 'sita'}

In [48]:
s1.pop()
s1

{'Ram', 'meera', 'shyam'}

In [50]:
s1.clear()
s1

set()

In [51]:
del s1

In [57]:
s = {'a','b', 'c'}
s1 = {1,2,3}
s.union(s1)

{1, 2, 3, 'a', 'b', 'c'}

In [65]:
s1 = {'x', 'y', 'a'}
s2 = s.intersection(s1)
s2

{'a'}

In [84]:
s1 = {'a','b', 'c'}
s2 = {'x', 'y', 'a'}
s1.intersection_update(s2)
s1

{'a'}

In [86]:
s3 = s1.symmetric_difference(s2)
s3

{'x', 'y'}

In [88]:
s1.symmetric_difference_update(s2)
s1

{'a'}

In [113]:
a = {5, 4}
b = {1,3,4,5}
print(a<b)

True

In [114]:
a = {4,5,6}
b ={2,8,6}
a-b

{4, 5}

# Dictionary

In [2]:
my_dict = {"name":"sabina", "age":30, "year":1992}
my_dict

{'name': 'sabina', 'age': 30, 'year': 1992}

In [4]:
my_dict = {"name":"sabina", "age":30, "year":1992, "year":1993}
my_dict

{'name': 'sabina', 'age': 30, 'year': 1993}

In [5]:
my_dict = {"name":"sabina", "age":30, "year":1992, "year1":1992}
my_dict

{'name': 'sabina', 'age': 30, 'year': 1992, 'year1': 1992}

In [7]:
my_dict['name']

'sabina'

In [8]:
my_dict.get('name')

'sabina'

In [9]:
my_dict.get('age')

30

In [11]:
my_dict.keys()

dict_keys(['name', 'age', 'year', 'year1'])

In [12]:
my_dict.values()

dict_values(['sabina', 30, 1992, 1992])

In [13]:
my_dict.items()

dict_items([('name', 'sabina'), ('age', 30), ('year', 1992), ('year1', 1992)])

In [15]:
# add item
my_dict['color']='white'
my_dict

{'name': 'sabina', 'age': 30, 'year': 1992, 'year1': 1992, 'color': 'white'}

In [16]:
# update
my_dict['color']='red'
my_dict

{'name': 'sabina', 'age': 30, 'year': 1992, 'year1': 1992, 'color': 'red'}

In [18]:
my_dict['year1']=1993
my_dict

{'name': 'sabina', 'age': 30, 'year': 1992, 'year1': 1993, 'color': 'red'}

In [19]:
# or update using update()
my_dict.update({'color':'green'})
my_dict

{'name': 'sabina', 'age': 30, 'year': 1992, 'year1': 1993, 'color': 'green'}

In [23]:
my_dict.pop('age')
my_dict

{'year': 1992, 'year1': 1993, 'color': 'green'}

In [24]:
newdict = my_dict.copy()
newdict

{'year': 1992, 'year1': 1993, 'color': 'green'}

In [28]:
for i in my_dict.items():
    print(i)

('year', 1992)
('year1', 1993)
('color', 'green')

In [33]:
for i in my_dict.keys():
    print(i)

year
year1
color

In [30]:
for i in my_dict.values():
    print(i)

1992
1993
green

In [34]:
# nested dictionary
my_family = {'child1':{"name":'aaa','age':10}, 'child2':{"name":'bbb','age':11}, 'child3':{'name':'ccc','age':12}}
my_family

{'child1': {'name': 'aaa', 'age': 10},
 'child2': {'name': 'bbb', 'age': 11},
 'child3': {'name': 'ccc', 'age': 12}}

In [36]:
for i in my_family.items():
    print(i)

('child1', {'name': 'aaa', 'age': 10})
('child2', {'name': 'bbb', 'age': 11})
('child3', {'name': 'ccc', 'age': 12})

In [38]:
child1 = {"name":'aaa','age':10}
child2 = {"name":'bbb','age':11}
child3 = {'name':'ccc','age':12}
my_family = {'child1':child1, 'child2':child2, 'child3':child3}
print(my_family)

{'child1': {'name': 'aaa', 'age': 10}, 'child2': {'name': 'bbb', 'age': 11}, 'child3': {'name': 'ccc', 'age': 12}}

In [41]:
my_family['child2']['name']

'bbb'

In [42]:
my_family['child3']['age']

12

In [43]:
d1 ={"john":40,'petter':45}
d2 = {"john":466, 'petter':45}
d1==d2

False

In [44]:
d = {"john":40,'petter':45}
"john" in d

True

In [51]:
d = {"john":40,'petter':45}
print(list(d.keys()))
print(list(d.values()))
print(list(d.items()))

['john', 'petter']
[40, 45]
[('john', 40), ('petter', 45)]

In [52]:
del d

In [58]:
#del d1['john']
print(d1)

{'petter': 45}

In [59]:
test = {"john":40,'petter':45}
test = {}

In [63]:
print(test)

{}

In [65]:
print(len(test))

0

In [66]:
numbers = {}
letters = {}
comb = {}
numbers[1] = 50
numbers[3] = 7
letters[4] = 'B'
comb['numbers'] = numbers
comb['letters'] = letters
print(comb)

{'numbers': {1: 50, 3: 7}, 'letters': {4: 'B'}}

# Function

In [80]:
def display():
    print("this is sabina")
display()

this is sabina

In [81]:
# pre defined function
def add():
    print(10+10)
add()

20

In [82]:
# using user defined function
def add():
    a = int(input("enter 1st number:"))
    b = int(input("enter 2nd number:"))
    print(a+b)
add()

enter 1st number:10
enter 2nd number:10
20

In [94]:
def add(a,b):
    print(a+b)
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:"))
add(a,b)

enter 1st number:10
enter 2nd number:10
20

In [95]:
# by default it will consider b value is 10
def add(a,b=10):
    print(a+b)
a = int(input("enter 1st number:"))
#b = int(input("enter 2nd number:"))
add(a)

enter 1st number:10
20

In [97]:
# insted of b=10 it will consider new value 4
def add(a,b=10):
    print(a+b)
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:")) # b = 4
add(a,b)

enter 1st number:10
enter 2nd number:4
14

In [103]:
def si(p,r,t):
    result = (p*r*t)/100
    print(result)
a = int(input("enter p amount:"))
b = int(input("rate of interest:"))
c = int(input("time:"))
si(a,b,c)

enter p amount:1000
rate of interest:2
time:12
240.0

In [104]:
def si(p,r,t=12):
    result = (p*r*t)/100
    print(result)
a = int(input("enter p amount:"))
b = int(input("rate of interest:"))
#c = int(input("time:"))
si(a,b)

enter p amount:1000
rate of interest:2
240.0

In [105]:
def si(p,r,t=12):
    result = (p*r*t)/100
    print(result)
a = int(input("enter p amount:"))
b = int(input("rate of interest:"))
c = int(input("time:"))
si(a,b,c)

enter p amount:1000
rate of interest:2
time:4
80.0

In [106]:
def add():
    c = 10+10
    return c
add()

20

In [107]:
def add(a,b):
    c =a+b
    return c
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:"))
add(a,b)

enter 1st number:10
enter 2nd number:10

20

In [109]:
def add(a,b):
    c =a+b
    return c
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:"))
p= add(a,b)
print(p)

enter 1st number:10
enter 2nd number:10
20

In [112]:
# lambda function:> it has no name i.e called anonymous function
x = lambda a:a+b
print(x(10))

20

In [118]:
x1 = lambda a,b : a+b
x2 = lambda p,q : p*q
print(x1(10,10))
print(x2(10,10))

20
100

In [120]:
# global and local variables
a = 10 # global
def func():
    a = 20 # local 
    print(a)
func()
print(a)

20
10

In [121]:
a = 88
def fun():
    global a 
    a = 99
    print(a)
fun()
print(a)

99
99