In [1]:
print(-10//3) # here we get two values -3 and -4. we consider -4 is the answer bcz -4 is less than -3

-4

In [2]:
print(10//3)

3

In [3]:
print(2**3**2)

512

In [4]:
print("python uses \n for newline")

python uses
 for newline

In [5]:
print('"python uses \n for newline"')

"python uses
 for newline"

In [6]:
print("python uses \\n for newline") # \\ treat as normal text

python uses \n for newline

In [7]:
print("/")

/

In [8]:
print("/\")

SyntaxError: unterminated string literal (detected at line 1) (2715195110.py, line 1)

In [9]:
print("/\\")

/\

In [11]:
print("/\\/\\/\\/\\")

/\/\/\/\

In [29]:
name = "shantanu"
print(name[2:8:-2])

In [28]:
name = "shantanu"
print(name[2:8:2])

atn

In [32]:
a = {}
print(type(a))

<class 'dict'>

In [33]:
my_dist = {"jay":10, "ray":20, 'jay':30}
my_dist

{'jay': 30, 'ray': 20}

In [36]:
print(len(my_dist)) # bcz duplicate keys are not allowed in dictionry, it overwrite the value

2

In [37]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
print(a+b+c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
zip(a,b,c)

In [39]:
list(zip(a,b,c))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [40]:
tuple(zip(a,b,c))

((1, 4, 7), (2, 5, 8), (3, 6, 9))

In [41]:
a = ("  python is programming language  ")
print(a)

  python is programming language

In [45]:
a = ('"  python is a programming language  "')
print(a)

"  python is a programming language  "

In [54]:
b = (",,,,,tttgg....banana    rrrr") 
print(b.strip(",.tgr"))

banana

In [58]:
s = "sabina"
print(s.upper())

SABINA

In [56]:
s = "sabina"
print(s.lower())

sabina

In [67]:
s = "sabina"
print(s.replace("s","S"))

Sabina

In [71]:
print(10//3)
print(10.0//3)
print(10//3.0) # if any one operand is float it will give float value

3
3.0
3.0

In [78]:
num = 1E2
print(num)

100.0

In [81]:
num = 2e3 # e or E means exponential and 10 is the base,3 is the power, 2 * 10**3 and always it will give float value
print(num)

2000.0

In [86]:
for i in 786>1:  # it will give an error bcz 786<1 (False) is condition 
    print(i)

TypeError: 'bool' object is not iterable

In [93]:
# ord() returns the integer value that represents the character 
a = "Sabina" # for each character have a ord number
b = "sabina"
print(len(a),',',len(b))
print(a==b)
print(a<b)

6 , 6
False
True

In [99]:
print("small alpabets range start from",ord('a'),"to",ord('z') )
print("capital alpabets range start from",ord('A'),"to",ord('Z') )

small alpabets range start from 97 to 122
capital alpabets range start from 65 to 90

In [101]:
# Turnary operators
a = 10
b = 20
m = "10 is less than 20" if (a>10) else  "10 is greater than 20"
print(m)

10 is greater than 20

In [104]:
age = 20
message = "you can vote" if (age>=18) else "you can't vote"
print(message)

you can't vote

In [108]:
# unary operator
# bitwise not operator , ~1 -> 0 and ~0 ->1

4

In [109]:
~11

-12

In [110]:
~15

-16

In [111]:
print(~10)

-11

In [112]:
# Binary operator
a =10
b =20
print(a+b)

30