# List

In [1]:
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [5]:
l1 = ['Apple', 'orange', 'banana', 'grapes']
print(l1)

['Apple', 'orange', 'banana', 'grapes']

In [6]:
l2 = [21, 32,'Apple', 'banana', 12.5, True]
print(l2)

[21, 32, 'Apple', 'banana', 12.5, True]

In [11]:
print(len(l))
print(l1[3])
print(l2[1:5])

4
grapes
[32, 'Apple', 'banana', 12.5]

In [29]:
myList = []
print(myList)

[]

In [31]:
myList.append([11,12,13,14])
myList

[[11, 12, 13, 14], [11, 12, 13, 14]]

In [14]:
l = [1,2,3,4,5]
i = 0
while i<5:
    print(l[i])
    i = i+1

1
2
3
4
5

In [12]:
l = [1,2,3,4,5]
i = -1
while i>=-5:
    print(l[i])
    i = i-1

5
4
3
2
1

In [15]:
list1 = ['physics', 'chemistry',45, 40.2]
list2 = [1,2,3,4,5,6,7]
print("list1[0]:",list1[0])

list1[0]: physics

In [16]:
print(list2[1:5])

[2, 3, 4, 5]

In [2]:
list = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'joy']
print(list)

['abcd', 786, 2.23, 'john', 70.2]

In [18]:
print(list[0])

abcd

In [19]:
print(list[1:3])

[786, 2.23]

In [20]:
print(list[2:])

[2.23, 'john', 70.2]

In [21]:
print(list[:3])

['abcd', 786, 2.23]

In [25]:
print(list[1:-1])

[786, 2.23, 'john']

In [3]:
list + tinylist

['abcd', 786, 2.23, 'john', 70.2, 123, 'joy']

In [4]:
tinylist *2

[123, 'joy', 123, 'joy']

In [5]:
123 * 2

246

In [8]:
p = [1,2,3]
p * 2

[1, 2, 3, 1, 2, 3]

In [22]:
l1 = [1,2]
l2 = [3,4]
l3 = l1+l2
print(l3)

[1, 2, 3, 4]

In [24]:
l3.append(5)
l3

[1, 2, 3, 4, 5, 5]

In [25]:
l3.append([6,7,8])
l3

[1, 2, 3, 4, 5, 5, [6, 7, 8]]

In [26]:
len(l3)

7

In [27]:
l3[6]

[6, 7, 8]

In [33]:
print(l3[6][2])
print(l3[6][:])
print(l3[6][1])

8
[6, 7, 8]
7

In [34]:
l3.extend([19,20])
print(l3)

[1, 2, 3, 4, 5, 5, [6, 7, 8], 19, 20]

In [36]:
l3.insert(0,0)
l3

[0, 0, 1, 2, 3, 4, 5, 5, [6, 7, 8], 19, 20]

In [37]:
l3.insert(2,1.5)
l3

[0, 0, 1.5, 1, 2, 3, 4, 5, 5, [6, 7, 8], 19, 20]

In [41]:
l3.insert(100,"s")
l3

[0, 0, 1.5, 1, 2, 3, 4, 5, 5, [6, 7, 8], 19, 20, 's', '"s"', 's']

In [42]:
l3[12]

's'

In [43]:
l3[13]

'"s"'

In [44]:
l3[14]

's'

In [46]:
l3.remove('s')
l3

[0, 0, 1.5, 1, 2, 3, 4, 5, 5, [6, 7, 8], 19, 20, '"s"']

In [48]:
l3.remove(0)
l3

[1.5, 1, 2, 3, 4, 5, 5, [6, 7, 8], 19, 20, '"s"']

In [61]:
z = [1,3,5,6,4,3]
print(z)
print(set(z))

[1, 3, 5, 6, 4, 3]
{1, 3, 4, 5, 6}

In [63]:
y = [11,23,12,11,23,45,66]
print(y)
rem = []
[rem.append(x) for x in y if x not in rem]
print(rem)

[11, 23, 12, 11, 23, 45, 66]
[11, 23, 12, 45, 66]

In [72]:
x = ["sabina", "abdul", "sabina","abd","sabina"]
name = []
for i in x:
    if i not in name:
        name.append(i)
print(name)

['sabina', 'abdul', 'abd']

In [76]:
list3 = [1,1,1,2,3,4]
list3.count(1)

3

In [78]:
list3.reverse()
print(list3)

[1, 1, 1, 2, 3, 4]

In [83]:
list2 = [1,2,5,3,4,6,10]
list2.sort()
print(list2)

[1, 2, 3, 4, 5, 6, 10]

In [82]:
list2 = [1,2,5,3,4,6,10]
list2.sort(reverse=True)
print(list2)

[10, 6, 5, 4, 3, 2, 1]

In [85]:
max(list2)

10

In [86]:
min(list2)

1

In [87]:
sum(list2)

31

In [89]:
list2[:-1]

[1, 2, 3, 4, 5, 6]

In [90]:
print(x)

['sabina', 'abdul', 'sabina', 'abd', 'sabina']

In [92]:
x[-1][-1]

'a'

In [93]:
x[-2][-1]

'd'

In [94]:
x[-2][-3]

'a'

In [4]:
name1 = ['Amir', 'Bear','charlton', 'Daman']
#print(name1)
name2 = name1
#print(name2)
name3 = name1[:]
#print(name3)
name2[0] = 'Alice'
#print(name2)
name3[1] = 'Bob'
#print(name3)
sum = 0
for ls in (name1, name2, name3):
    print(ls)
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

['Alice', 'Bear', 'charlton', 'Daman']
['Alice', 'Bear', 'charlton', 'Daman']
['Amir', 'Bob', 'charlton', 'Daman']
12

In [7]:
list1 = [11,2,23]
list2 = [11,2,3]
print(list1>list2)
print(list1<list2)

True
False

# Tuple

In [8]:
t = ("sabina", 10, 12.5, True)
type(t)

tuple

In [9]:
g = "abdul", 10, 12.5, False
type(g)

tuple

In [10]:
s = "sabina"
type(s)

str

In [11]:
s1 = ("sabina")
print(type(s1))

<class 'str'>

In [12]:
s2 = ("sabina",)
print(type(s2))

<class 'tuple'>

In [16]:
tup = ('banana', 'mango', 'kiwi','orange')
print(tup)
tup1 = list(tup)
tup1[2]= 'cherry'
tup2 = tuple(tup1)
tup2

('banana', 'mango', 'kiwi', 'orange')

('banana', 'mango', 'cherry', 'orange')

In [24]:
print(tup,'\n', tup2)

('banana', 'mango', 'kiwi', 'orange')
 ('banana', 'mango', 'cherry', 'orange')

In [25]:
tup3 = tup+tup2
print(tup3)

('banana', 'mango', 'kiwi', 'orange', 'banana', 'mango', 'cherry', 'orange')

In [27]:
tup3[2:5]

('kiwi', 'orange', 'banana')

In [28]:
tup3[:4]

('banana', 'mango', 'kiwi', 'orange')

In [29]:
tup3[2:]

('kiwi', 'orange', 'banana', 'mango', 'cherry', 'orange')

In [31]:
tup3[-4:-1]

('banana', 'mango', 'cherry')

In [32]:
# check item exists
if 'banana' in tup3:
    print('yes')
else:
    print('no')

yes

In [37]:
# packing and unpacking
fruits = ('apple', 'banana', 'kiwi') # packing
a,b,k = fruits # unpacking
print(a)
print(k)
print(b)

apple
kiwi
banana

In [39]:
fruit = ('apple', 'banana', 'kiwi', 'mango')
a,b,k = fruit
print(a) # it will give an error bcz the length of items and variable should be equal

ValueError: too many values to unpack (expected 3)

In [44]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1+t2 # concantination or merging two tuples
print(t3)

(1, 2, 3, 4, 5, 6)

In [45]:
t3 * 2 # it will print two times

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [46]:
fruits = ('apple', 'banana', 'kiwi') 
for i in fruits:
    print(i)

apple
banana
kiwi

In [48]:
fruits = ('apple', 'banana', 'kiwi') 
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
kiwi

In [50]:
# tuples methods
tup1 = (1,2,3,4,2,6,2)
print(tup1.count(2))
print(tup1.count(4))

3
1

In [53]:
tup1 = (1,2,3,4,2,6,2)
print(tup1.index(2)) # it will search for the first occurance of the value 2 and returns the position
print(tup1.index(4))

1
3

In [60]:
tuple1 = (10,20,30,40,50)
tuple1 = tuple1[::-1]
tuple1 # reverse

(50, 40, 30, 20, 10)

In [62]:
tuple1 = (11,22)
tuple2 = (99,88)
print(tuple1)
print(tuple2)

tuple1,tuple2 = tuple2,tuple1 # swaping
print(tuple1)
print(tuple2)

(11, 22)
(99, 88)
(99, 88)
(11, 22)

In [69]:
tuple1 = (11,22,33,44,55,66)
tuple2 = tuple1[1:-2]
print(tuple2)
tuple2 = tuple1[3:-1]
print(tuple2)

(22, 33, 44)
(44, 55)

In [94]:
# reverse the tuple
r_tuple = (1,2,3,4,5)
print(r_tuple[::-1])
print("      OR        ")
r_tuple1 = list(r_tuple)

r_tuple1.sort(reverse=True)
r_tuple2 = tuple(r_tuple1)
print(r_tuple2)

(5, 4, 3, 2, 1)
      OR
(5, 4, 3, 2, 1)

In [95]:
list2 = [1,2,5,3,4,6,10]
list2.sort(reverse=True)
print(list2)

[10, 6, 5, 4, 3, 2, 1]

In [111]:
T = 1,2,3
print(type(T))

<class 'tuple'>

In [114]:
T1 = (1,2,3,4,5,6,7,8)
print(T1)
print(T1*2)
print(T1+T1)
print(len(T1)*2)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
16

In [116]:
print(T1[0])
print(T1[-1])
print(T1[2+3])
print(T1[4-1])
print(T1[7%2])

1
8
6
4
2