In [1]:
str="I am part of data analytics batch at ExcelR"
str.replace('analytics','science')

'I am part of data science batch at ExcelR'

In [9]:
#str.translate('abc','ABC')
change=str.maketrans('abc','ABC')
str.translate(change)

'I Am pArt of dAtA AnAlytiCs BAtCh At ExCelR'

In [11]:
str="I-am_part,of.data~science_batch-at~excelR"
changes=str.maketrans('.,~!#$%^&*()_+-','               ')
str.translate(changes)

'I am part of data science batch at excelR'

# TUPLE

In [12]:
x=[]

In [14]:
type(x)

list

In [15]:
x=()

In [16]:
type(x)

tuple

In [17]:
y=tuple()

In [18]:
type(y)

tuple

In [25]:
data=('Monday','AIML',100,'ExcelR')

In [20]:
type(data)

tuple

In [26]:
len(data)

4

In [27]:
nums=(5,6,19,93,78,35,6,8)

In [28]:
min(nums)

5

In [29]:
max(nums)

93

In [30]:
sum(nums)

250

In [32]:
# append, extend, insert, pop, remove, sort, reverse

# copy,clear,index

In [33]:
print(dir(nums))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [39]:
mytuple=('python','R','SAS','Hadoop','Spark','Java','AIML','python','Java')

In [40]:
mytuple[-1]

'Java'

In [41]:
len(mytuple)

9

In [42]:
mytuple.count('python')

2

In [43]:
mytuple.count('SAS')

1

In [44]:
mytuple.index('SAS')

2

In [46]:
mytuple.index('python')

0

In [49]:
# List is Mutable                           Tuple is Immutable
# []                                        ()
# List take more memory                     Tuple take less memory
# List takes more time to process           Tuple takes less time to process

In [53]:
import sys

print('List Size:', sys.getsizeof([1,2,3,4,5,6,7,8,9,10]))
print('Tuple Size:', sys.getsizeof((1,2,3,4,5,6,7,8,9,10)))

List Size: 152
Tuple Size: 120

In [54]:
import timeit

print('List takes:', timeit.timeit(stmt="[1,2,3,4,5,6,7,8,9,10]",number=1000000)*1000)
print('Tuple takes:', timeit.timeit(stmt="(1,2,3,4,5,6,7,8,9,10)",number=1000000)*1000)

List takes: 108.02640000019892
Tuple takes: 15.432500000315486

In [ ]:
HPC => High Performance Computers

In [55]:
x=[1,2,3,4,5,6,7,8,9,10]

In [56]:
type(x)

list

In [57]:
y=tuple(x)

In [58]:
type(y)

tuple

In [59]:
y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [60]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
x=(10)
y=[10]

In [72]:
type(y)

list

In [76]:
type(x)

int

In [77]:
city=('pune')

In [78]:
type(city)

str

In [79]:
data=(10,20)

In [80]:
type(data)

tuple

In [81]:
location=('Bangalore','Mumbai')

In [82]:
type(location)

tuple

In [88]:
x=(10,)

In [89]:
type(x)

tuple

In [92]:
c=('Chennai',)

In [93]:
type(c)

tuple

# DICTIONARY

In [94]:
# key value pairs of element
# it is unordered array
# dictionary|hash|hash map|associative array

In [95]:
mydata={}

In [96]:
type(mydata)

dict

In [97]:
mydata={'today':'Monday','age':30,'tech':'python','company':'ExcelR'}

In [98]:
mydata['age']

30

In [99]:
mydata['tech']

'python'

In [100]:
mydata['today']

'Monday'

In [108]:
mydata['company']

'ExcelR'

In [110]:
mydata['name']

KeyError: 'name'

In [102]:
# get and setdefault

In [103]:
mydata.get('age')

30

In [104]:
mydata.get('company')

'ExcelR'

In [106]:
print(mydata.get('name'))

None

In [126]:
mydata.get('name','sabina')

SyntaxError: invalid syntax (1859234954.py, line 1)

In [127]:
mydata

{'today': 'Monday',
 'age': 30,
 'tech': 'python',
 'company': 'ExcelR',
 'name': 'sabina'}

In [119]:
mydata.setdefault('age','sabina')

30

In [116]:
mydata

{'today': 'Monday', 'age': 30, 'tech': 'python', 'company': 'ExcelR'}

In [120]:
mydata.setdefault('name', 'sabina')

'sabina'

In [128]:
mydata

{'today': 'Monday',
 'age': 30,
 'tech': 'python',
 'company': 'ExcelR',
 'name': 'sabina'}

In [132]:
mydata.setdefault('age','name')

30

In [134]:
mydata['location']='chennai'

In [135]:
print(mydata)

{'today': 'Monday', 'age': 30, 'tech': 'python', 'company': 'ExcelR', 'name': 'sabina', 'location': 'chennai'}

In [136]:
mydata['country']='India'

In [137]:
print(mydata)

{'today': 'Monday', 'age': 30, 'tech': 'python', 'company': 'ExcelR', 'name': 'sabina', 'location': 'chennai', 'country': 'India'}

In [138]:
mydata['today']='Sunday'

In [140]:
print(mydata)

{'today': 'Sunday', 'age': 30, 'tech': 'python', 'company': 'ExcelR', 'name': 'sabina', 'location': 'chennai', 'country': 'India'}

In [141]:
mydata.update({'salary':5000,'exp':10,'manager':'Abdul','location':'Bangalore'})

In [142]:
print(mydata)

{'today': 'Sunday', 'age': 30, 'tech': 'python', 'company': 'ExcelR', 'name': 'sabina', 'location': 'Bangalore', 'country': 'India', 'salary': 5000, 'exp': 10, 'manager': 'Abdul'}

In [143]:
mydata.pop('exp')

10

In [145]:
mydata.popitem()

('manager', 'Abdul')

In [146]:
del mydata['today']

In [147]:
print(mydata)

{'age': 30, 'tech': 'python', 'company': 'ExcelR', 'name': 'sabina', 'location': 'Bangalore', 'country': 'India', 'salary': 5000}

In [148]:
mydata.pop('salary')

5000

In [149]:
print(mydata)

{'age': 30, 'tech': 'python', 'company': 'ExcelR', 'name': 'sabina', 'location': 'Bangalore', 'country': 'India'}

In [154]:
mydata.update({'tech':['Java','c','R','mysql','oops']})

In [155]:
print(mydata)

{'age': 30, 'tech': ['Java', 'c', 'R', 'mysql', 'oops'], 'company': 'ExcelR', 'name': 'sabina', 'location': 'Bangalore', 'country': 'India'}

In [156]:
mydata['tech'].pop(0)

'Java'

In [158]:
mydata.pop('tech')

['c', 'R', 'mysql', 'oops']

In [160]:
print(mydata)

{'age': 30, 'company': 'ExcelR', 'name': 'sabina', 'location': 'Bangalore', 'country': 'India'}

In [161]:
# keys, values, items

In [162]:
mydata

{'age': 30,
 'company': 'ExcelR',
 'name': 'sabina',
 'location': 'Bangalore',
 'country': 'India'}

In [163]:
mydata.keys()

dict_keys(['age', 'company', 'name', 'location', 'country'])

In [164]:
mydata.values()

dict_values([30, 'ExcelR', 'sabina', 'Bangalore', 'India'])

In [170]:
mydata.items()

dict_items([('age', 30), ('company', 'ExcelR'), ('name', 'sabina'), ('location', 'Bangalore'), ('country', 'India')])

In [189]:
for k in mydata.keys():
        print(k +" ===> "+ str(mydata[k]))

TypeError: 'str' object is not callable

In [191]:
mydata['age']=30

In [194]:
for k in mydata.keys():
    print(mydata[k])

30
ExcelR
sabina
Bangalore
India

In [195]:
for v in mydata.values():
    print(mydata[v])

KeyError: 30

In [196]:
mydata.items()

dict_items([('age', 30), ('company', 'ExcelR'), ('name', 'sabina'), ('location', 'Bangalore'), ('country', 'India')])

In [197]:
for x, y in mydata.items():
    print(x,y)

age 30
company ExcelR
name sabina
location Bangalore
country India

In [198]:
print(dir(mydata))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [199]:
empdata={'fname','lname','age','degree','exp','gender','address'}

In [200]:
emp_info=dict.fromkeys(empdata,'ExcelR')

In [201]:
emp_info

{'gender': 'ExcelR',
 'address': 'ExcelR',
 'exp': 'ExcelR',
 'degree': 'ExcelR',
 'lname': 'ExcelR',
 'fname': 'ExcelR',
 'age': 'ExcelR'}

In [202]:
sample_dict={
    'name':'sabina N',
    'age':30,
    'exp':{
        'infosys':['python','perl','java'],
        'paypal':['python','AIML','AWS'],
        'walmart':['AIML',['AWS','GCP']],
        'shell':['Bigdata','snowflakes'],
        'amazon':['Bigdata','AWS']
    }
}

In [203]:
sample_dict.get('exp').get('walmart')[1][-1]

'GCP'

In [204]:
myset=set()

In [205]:
type(myset)

set

In [206]:
myset={1,2,3,4,5,6,7,8,9,10,6,8,3,4,5,7,1,1,1}

In [207]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [208]:
myset.add(11)

In [209]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [210]:
myset.add(15)

In [211]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15}

In [212]:
myset.add(12)

In [213]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15}

In [216]:
myset.add(2)

In [217]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15}

In [218]:
print(dir(myset))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [219]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15}

In [222]:
list(myset)[-1]

15

In [225]:
while True:
    data=input('Enter a value and exit for come out:')
    if data.casefold()=='exit':
        break
    print('value:', data)

Enter a value and exit for come out:exit