# Print Function

In [1]:
print('Hello')

Hello

In [2]:
name='sabina'

In [4]:
print(name)

sabina

In [8]:
print("student name is:", name)

student name is: sabina

In [11]:
name='sabina'
age=30
city='Bangalore'

# student name is sabina and her age is 30 years old

print('student name is',name, 'and her age is',age, 'years old')

student name is sabina and her age is 30 years old

In [16]:
print('student name is {} and her age is {}  years old and she is from {} '.format(name,age,city))

student name is sabina and her age is 30  years old and she is from Bangalore

In [19]:
print(f'student name is {name} and her age is {age}  years old and she is from {city} ')

student name is sabina and her age is 30  years old and she is from Bangalore

In [27]:
print('student name is {0} and her age is {1}  years old and she is from {2} '.format(name,age,city))

student name is sabina and her age is 30  years old and she is from Bangalore

In [38]:
price=565.67899
print('the product\'s price is :',price)

the product's price is : 565.67899

In [49]:
print('the product\'s price is :{}'.format(price))

the product's price is :565.67899

In [51]:
print(f'the product\'s price is :{price}')

the product's price is :565.67899

In [52]:
round(price,2)

565.68

In [55]:
print("the product price is: {}".format(round(price,3)))

the product price is: 565.679

# Input Function

In [1]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
age=age+1
print("The type of name is :", type(name))
print("The type of age is :", type(age))
print("Age is:",age)

Enter your name:sabina
Enter your age:30
The type of name is : <class 'str'>
The type of age is : <class 'int'>
Age is: 31

In [6]:
acct=int(input("Enter your account number:"))
name=input("Enter your name:")
pin=int(input("Enter your 4 digit pin:"))

print("{},{},{}".format(acct,name,pin))
print("Type of acct:{}, name:{} and pin:{}".format(type(acct),type(name),type(pin)))

Enter your account number:12345678990
Enter your name:acb
Enter your 4 digit pin:1223
12345678990,acb,1223
Type of acct:<class 'int'>, name:<class 'str'> and pin:<class 'int'>

# Range Function

In [10]:
for x in range(1,101):
    print(x, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [11]:
for x in range(1,101,2):
    print(x, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [12]:
for x in range(2,101,2):
    print(x, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# Loops

In [16]:
'''
while
for
'''

'\nwhile\nfor\n'

In [4]:
# while <cond>:
#       statements

x=1

while x<=5:
    print(x)
    x=x+1

else:
    print("The value of the x is:", x)

1
2
3
4
5
The value of the x is: 6

In [6]:
info =['ExcelR','Data science','Python',2023,100]

In [7]:
for x in info:
    print(x)

ExcelR
Data science
Python
2023
100

In [10]:
i=1
for x in range(1,101):
    if i<=10:
        print(x, end=' ')
        i=i+1
    else:
        print('\n',x, end=' ')
        i=1

1 2 3 4 5 6 7 8 9 10
 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26 27 28 29 30 31 32
 33 34 35 36 37 38 39 40 41 42 43
 44 45 46 47 48 49 50 51 52 53 54
 55 56 57 58 59 60 61 62 63 64 65
 66 67 68 69 70 71 72 73 74 75 76
 77 78 79 80 81 82 83 84 85 86 87
 88 89 90 91 92 93 94 95 96 97 98
 99 100

# Data Structure

In [11]:
'''
Immutable
    - Numbers
    - String   
    - Tuple
Mutable
    - List
    - Dictionary
    - Set
'''

'\nImmutable\n    - Numbers\n    - String   \n    - Tuple\nMutable\n    - List\n    - Dictionary\n    - Set\n'

In [ ]:
'''
Arithmetic Operators
Assignment 
Comparison
Bitwise
Binary
Identity
Membership
'''

In [12]:
1+1

2

In [13]:
2-4

-2

In [14]:
4-2

2

In [15]:
5/2

2.5

In [16]:
5//2

2

In [19]:
2*3

6

In [20]:
2**3

8

In [21]:
11%2    # Return the reminder

1

In [22]:
# Assignment
x=10

In [23]:
x

10

In [24]:
y=x

In [25]:
y

10

In [26]:
z=x*2

In [27]:
z

20

In [39]:
result=x+y+z
result

40

In [41]:
# Comparison

x

10

In [31]:
x>100

False

In [32]:
x==0

False

In [36]:
x!=10

False

In [37]:
x!=0

True

In [30]:
x==10

True

In [42]:
x>0

True

# Flow Control Statements

In [ ]:
'''
break
continue
'''

In [43]:
x=1

while x<=10:
    if x==5:
        break
    print(x)
    x=x+1
    
print("This is the next line to the loop")
print("Thanks")

1
2
3
4
This is the next line to the loop
Thanks

In [44]:
x=0

while x<=10:
    x=x+1
    if x==5:
        continue
    print(x)

print("This is the next line to the loop")
print('Thanks')

1
2
3
4
6
7
8
9
10
11
This is the next line to the loop
Thanks